<section>
    {{formGroup fields.id value=source.id rootId=rootId}}
    {{formGroup fields.name value=source.name rootId=rootId}}
    {{formGroup fields.img value=source.img rootId=rootId}}
</section>